/* video background */
html,
body {
  margin: 0px;
}

#background-video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* page content */
#first,
h2,
#myBtn {
  color: white;
  font-family: Trebuchet MS;
  font-weight: bold;
  text-align: center;
}

#first {
  font-size: 3rem;
  margin-top: 21.3vh;
}

h2 {
  font-size: 1.5rem;
}
#myBtn {
  width: 150px;
  font-size: 18px;
  padding: 10px;
  border-color: whitesmoke;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-left: 550px;
  margin-top: 15.1vh;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

@media (max-width: 750px) {
  #background-video {
    display: none;
  }
  body {
    background: url("media/teslaaa.png") no-repeat;
    background-size: cover;
  }
}
#logo img {
  width: 120px;
  float: left;
  position: fixed;
  top: 26px;
  left: 20px;
  height: 50px;
}

#left-nav-buttons {
  float: left;
  margin-left: 205px;
}

#right-nav-buttons {
  margin-left: 805px;
}
.nav-button {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  line-height: 4em;
}

#modelx {
  background-image: url("/media/Tesla-Model-X.png");
  height: 100vh;
  position: relative;
  text-align: center;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#btn {
  width: 150px;
  font-size: 18px;
  padding: 10px;
  border-color: whitesmoke;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 65vh;
}
#btn:hover {
  background: #ddd;
  color: black;
}
#explore {
  text-decoration: underline;
}

#topic {
  font-size: 3rem;
  outline-color: black;
  margin-top: 21.3vh;
}
